{% extends 'layout.njk' %}

{% block title %}YESM 2020 | Guests{% endblock %}
{% block desc %}Guests of YESM. Young Economist Students' Meet 2020 (YESM 2020). Venue: Jadavpur University. Department of Economics. Designer: Vedant Mozumdar.{% endblock %}

{% block metahead %}
    <link rel="stylesheet" href="css/guests.css">
{% endblock %}

{% block content %}
<body id="guests">
    {% import 'macros/header.njk' as nav %}
    {{ nav.gen('g') }}
    <main id="main">
        <section>
            <h1>Guests</h1>
            <h2>Interactive Session</h2>
            <p>Time- 11am <br> Venue- Gandhi Bhavan, Jadavpur University</p>
            <img src="/img/Guests2020/Dr. Aparna Sawhney.jpg" alt="Prabhat Patnaik">
        </section>
        <section>
            <h2>Panel - 1</h2>
            <p>Topic- Environmental Protection and Growth: A Policy Dilemma? <br> Time- 7th Jan, 12noon <br> Venue- Gandhi Bhavan, Jadavpur University</p>
            <img src="/img/Guests2020/Mr Subhas Datta.jpg" alt="Arpita Banerjee">
            <img src="/img/Guests2020/Dr. Partha Sen.jpg" alt="Pranab Kumar Das">
            <img src="/img/Guests2020/Dr. Purnamita Dasgupta.jpg" alt="Rajesh Bhattacharya">
            <img src="/img/Guests2020/Dr. Saudamini Das.jpg" alt="Sreejata Banerjee">
        </section>
        {# <section>
            <h2>Gafa Panel</h2>
            <p>Topic: Financial Market Careers <br> Guest: Mr. Avik Gupta <br> Time: 18th Jan, 11:45am <br> Venue: Gandhi Bhavan</p>
        </section>
        <section>
            <h2>Panel - 2</h2>
            <p>Topic- Managing a crisis: role of the government, banking and media in the fallout from the crisis of 2007-08 <br> Time- 18th Jan, 2pm <br> Venue- Gandhi Bhavan</p>
            <img src="/img/guests/panel2/Amit Dasgupta.jpg" alt="Amit Dasgupta">
            <img src="/img/guests/panel2/Kumarjit_Mandal.jpg" alt="Kumarjit Mandal">
            <img src="/img/guests/panel2/Paranjoy.jpg" alt="Paranjoy">
            <img src="/img/guests/panel2/Tamal Bandyodhyay.jpg" alt="Tamal Bandyodhyay">
            <img src="/img/guests/panel2/saibal_kar.jpg" alt="Saibal Kar">
        </section> #}
    </main>
</body>
{% endblock %}
