{% extends 'layout.njk' %}

{% block title %}YESM 2020 | Pay-Off Schedule{% endblock %}
{% block desc %}Team of YESM. Young Economist Students' Meet 2019 (YESM 2019). Venue: Jadavpur University. Department of Economics. Designer: Vedant Mozumdar.{% endblock %}

{% block metahead %}
    <link rel="stylesheet" href="css/team.css">
    <script src="js/team.js"></script>
{% endblock %}

{% block content %}
<body id="team">
    {% import 'macros/header.njk' as nav %}
    {{ nav.gen('o') }}
    <main id="main">
        <section>
            <h1>Pay-Off Schedule</h1>
            <div>
            <img style="width: 75%" src="img/pay-off-schedule.jpg">
            </div>
        </section>
</body>
{% endblock %}
