main {
    margin-top: 5vh;
}

main ul li {
    list-style: none;
}

main li {
    position: relative;
    width: 100%;
    max-width: 500px;
    background-color: white;
}

main ul {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#flagship {
    max-width: none;
}

article {
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.d_none {
    display: none;
}

article h2 {
    font-weight: normal;
    font-size: 1.1em;
    margin-top: -20%;
    margin-bottom: 20%;
    text-transform: uppercase;
    color: #fff;
}

.limit {
    max-width: 1000px;
    margin: auto;
}

.event_desc--list li {
    max-width: unset;
    padding-left: 0.5em;
}

.button {
    display: inline-block;
    background-color: #2196f3;
    padding: 0.5em 1em;
    color: white;
    border-radius: 4px;
}

@media only screen and (max-width: 515px) {
    article h2 {
        font-size: 1em;
        margin-top: -24%;
        margin-bottom: 24%;
    }
}

@media only screen and (max-width: 400px) {
    article h2 {
        margin-top: -28%;
        margin-bottom: 28%;
    }
}

@media only screen and (min-width: 890px) {
    main li {
        margin-left: 2em;
        margin-right: 2em;
    }
}
