main {
    margin-top: 5vh;
}

main li {
    list-style: none;
}

main li {
    position: relative;
    width: 100%;
    max-width: 500px;
    background-color: white;
}

main ul {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article {
    text-align: center;
}

article h1 {
    display: none;
}

article h2 {
    font-weight: normal;
    font-size: 1.1em;
    margin-top: -20%;
    margin-bottom: 20%;
    text-transform: uppercase;
    color: #fff;
}

#flagship {
    max-width: 900px;
}

@media only screen and (max-width: 515px) {
    article h2 {
        font-size: 1em;
        margin-top: -24%;
        margin-bottom: 24%;
    }
}

@media only screen and (max-width: 400px) {
    article h2 {
        margin-top: -28%;
        margin-bottom: 28%;
    }
}

@media only screen and (min-width: 768px) {
    #flagship h2 {
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 890px) {
    main li {
        margin-left: 2em;
        margin-right: 2em;
    }
    #flagship h2 {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 1400px) {
    #flagship {
        margin-left: 12em;
        margin-right: 12em;
    }
}
