html {
    height: 100vh;
    overflow: hidden;
}

main {
    will-change: transform;
    transition: transform 0.5s;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
