{% extends "events_layout.njk" %}

{% block edesc %}Analyse this. Critical Thinking.{% endblock %}
{% block title %}YESM 2019 | Analyse This{% endblock %}

{% block econtent %}
    {% import 'macros/event_text.njk' as et %}
    {{ et.gen_htext("athis", "84", "15.8") }}
    <h1 class="d_none">Analyse This</h1>
    <h2>Critical Thinking</h2>
    <p>The human brain is perhaps one of the most complex systems in the world. Refined through millions of years of evolution, it is capable of building machines that traverse the length of space. This should be easy then, right? Get ready to use the full potential of your mental faculties, since for this event, you really need to think.</p>
    {{ et.gen_h3("Format:") }}
    {{ et.gen_ul([
        "The event consists of two rounds, Prelims and the Final Round.",
        "The Prelims will be a written round based roughly on your Undergraduate syllabus. However, since this is a critical thinking event, do not expect typical textbook questions.",
        "The Final Round will consist of a presentation. The teams that qualify for the Final Round will be provided with their question/topic 1 hour before the presentation.",
        "A total time of 10+2 minutes shall be allotted for your presentation. The first 10 minutes are for answering/explaining and the next 2 minutes are reserved for questions from the judges. However, the time allotted for questions from the judges can be extended at their discretion."
    ]) }}
    {{ et.gen_h3("Rules and Eligibility:") }}
    {{ et.gen_ul([
        "Each team must consist of 2 or 3 members.",
        "All participants must be enrolled in an undergraduate Economics course.",
        "Participants belonging to different years can be on the same team.",
        "Cross-College teams are allowed.",
        "There is no limit to the number of teams participating from a college."
    ]) }}
    {{ et.gen_btn("https://goo.gl/forms/qZ6I9QoocCnJxkW82") }}
{% endblock %}
