{% extends "events_layout.njk" %}

{% block edesc %}ARTbitrage. Poster making and Doodling{% endblock %}
{% block title %}YESM 2020 | ARTbitrage{% endblock %}

{% block econtent %}
    {% import 'macros/event_text.njk' as et %}
    <div style="font-size:65px;font-family:ariel"><br>ARTBITRAGE</div>
    <h2>Charcoal Sketching, T-Shirt painting &amp; Face painting</h2>
    <p>The arts are a great vehicle for creativity —every living and breathing being deeply desires a world filled with joy and beauty. This world would allow for an overflow in the diversity of creative expression and the uniqueness of the human spirit. It has the power of bending what people think of a straight line.</p>
    {{ et.gen_h3("General Rules:") }}
    {{ et.gen_ul([
        "No. of participant is one per team.",
        "Topic will be disclosed at the venue.",
        "Artwork may include written slogans, graphics and artwork.",
        "Artwork may NOT include any official trademarked logos.",
        "Decision of the judges will be final.",
        "All artwork will be the sole property of the organisers after the competition is over.",
        "They cannot contain any content, element, or material that violates a third party&#39;s publicity, privacy or intellectual property rights."
    ]) }}
    {{ et.gen_h3("Poster Making:") }}
    <ol class="event_desc--list">
        <li>Participants will have to bring their own art material.</li>
        <li>The materials may include:
            <ol class="event_desc--list" type="a">
                <li>Paints (Poster colours or acrylic colours or water colours allowed)</li>
                <li>Drawing board and drawing pins</li>
                <li>Pencil and Eraser</li>
                <li>Paint Brushes</li>
                <li>Use of scale and compass is allowed.</li>
            </ol>
        </li>
        <li>Participants will be provided with 1/2 a chart paper for poster making by the organizers.</li>
        <li>Time limit : 1.5 hours</li>
    </ol>
    {{ et.gen_h3("Doodling:") }}
    {{ et.gen_ul([
        "Participants will have to bring their own art material.",
        "Usage of any kind of pens, pencils, markers are allowed as long as it is free hand.",
        "Participants will be provided with A4 size drawing sheet for doodling by the organizers.",
        "Time limit : 1 hour."
    ]) }}
    {{ et.gen_btn("https://goo.gl/forms/4aYxnscvVIkKmgwY2") }}
{% endblock %}
