{% extends "events_layout.njk" %}

{% block edesc %}ARTbitrage. Poster making and Doodling{% endblock %}
{% block title %}YESM 2020 | ARTbitrage{% endblock %}

{% block econtent %}
    {% import 'macros/event_text.njk' as et %}
    <div style="font-size:65px;font-family:ariel"><br>ARTBITRAGE</div>
    <h2>Charcoal Sketching, T-Shirt painting &amp; Face painting</h2>
    <p>The arts are a great vehicle for creativity —every living and breathing being deeply desires a world filled with joy and beauty. This world would allow for an overflow in the diversity of creative expression and the uniqueness of the human spirit. It has the power of bending what people think of a straight line.</p>
    {{ et.gen_h3("Charcoal Sketching:") }}
    {{ et.gen_ul([
        "Individual participation is allowed only.",
        "Every participant is required to bring their own Charcoal pencils and other art materials as per their requirement,to be kept at the responsibility of the participant.<br>We shall not be answerable for loss of any personal belongings.",
        "One sheet will be provided to each participant.<br>No extra sheets shall be provided.",
        "Usage of mobile phones on spot during the event is strictly prohibited.",
    ]) }}
    <p>Theme:<b>"The Fate of the Forest"</b></p>
    {{ et.gen_h3("Poster Making:") }}
    <ol class="event_desc--list">
        <li>Participants will have to bring their own art material.</li>
        <li>The materials may include:
            <ol class="event_desc--list" type="a">
                <li>Paints (Poster colours or acrylic colours or water colours allowed)</li>
                <li>Drawing board and drawing pins</li>
                <li>Pencil and Eraser</li>
                <li>Paint Brushes</li>
                <li>Use of scale and compass is allowed.</li>
            </ol>
        </li>
        <li>Participants will be provided with 1/2 a chart paper for poster making by the organizers.</li>
        <li>Time limit : 1.5 hours</li>
    </ol>
    {{ et.gen_h3("Doodling:") }}
    {{ et.gen_ul([
        "Participants will have to bring their own art material.",
        "Usage of any kind of pens, pencils, markers are allowed as long as it is free hand.",
        "Participants will be provided with A4 size drawing sheet for doodling by the organizers.",
        "Time limit : 1 hour."
    ]) }}
    {{ et.gen_btn("https://goo.gl/forms/4aYxnscvVIkKmgwY2") }}
{% endblock %}
