{% extends "events_layout.njk" %}

{% block edesc %}OECD. Committee Simulation.{% endblock %}
{% block title %}YESM 2019 | O E C D{% endblock %}

{% block econtent %}
    {% import 'macros/event_text.njk' as et %}
    {{ et.gen_htext("oecd","49.3","15.8") }}
    <h1 class="d_none">O E C D</h1>
    <h2>Committee Simulation</h2>
    <p>The Young Economist Students’ Meet (YESM) has witnessed a Committee Simulation each year where it has essentially tried to focus upon a proper Socio-Political and Economic discourse to discuss and solve real life problems the world faces or has faced in the past. This year we are simulating, for the first time ever in the MUN circuit, the Organization for Economic Cooperation and Development (OECD).</p>
    <p>It is an intergovernmental economic organisation with 36 member countries, founded in 1961, to stimulate economic progress and world trade. It is a forum of countries describing themselves as committed to democracy and the market economy, providing a platform to compare policy experiences, seeking answers to common problems, identify good practices and coordinate domestic and international policies of its members. Most OECD members are high-income economies with a very high Human Development Index (HDI) and are regarded as developed countries.</p>
    <p>Previously known as the Organisation for European Economic Cooperation (OECC), it had the primary objective of helping to administer the Marshall Plan .This would be achieved by allocating United States financial aid and implementing economic programs for the reconstruction of Europe after World War II. In 1961, the OEEC was reformed into the Organisation for Economic Co-operation and Development by the Convention on the Organisation for Economic Co-operation and Development. Membership was extended to non-European states as well.</p>
    <p>Be prepared for an intense two days of committee where the delegates shall portray their debating skills to negotiate on behalf of their country, keeping in mind their country’s efforts to prevent the blues of the Economic Crisis of 2008.</p>
    <p>Be a part of this Committee, for the first time ever in the MUN Circuit.</p>
    {{ et.gen_btn("https://goo.gl/forms/69y3qim7CngPfdW12") }}
{% endblock %}
