{% extends "events_layout.njk" %}

{% block edesc %}Polemic. Debate.{% endblock %}
{% block title %}YESM 2019 | Polemic{% endblock %}

{% block econtent %}
    {% import 'macros/event_text.njk' as et %}
    {{ et.gen_htext("pmic","50.2","15.9") }}
    <h1 class="d_none">Polemic</h1>
    <h2>Debate</h2>
    <p>The presence of a rational being is of foremost importance in almost every aspect of economics. A good argument requires a clever use of ones rationale and hence the presence of a rational being.</p>
    <p>So this YESM, let our arguments bring resolution. Debate to understand, to learn. Speak to enlighten and be enlightened. Speak to educate.</p>
    {{ et.gen_h3("General Rules:") }}
    {{ et.gen_ul([
        "Students are to register in teams of two, or individually, via the given link.",
        "All participants must be school students at the higher secondary level (classes 11 and 12) or enrolled undergraduate or postgraduate students.",
        "Cross-college teams are allowed.",
        "In each team, for both the rounds, one contestant will be speaking for the motion, and the other will be speaking against the motion."
    ]) }}
    {{ et.gen_h3("Rules for Prelims:") }}
    {{ et.gen_ul([
        "Topic will be uploaded on the official Facebook page 24 hours prior to the given time of commencement of the prelims.",
        "Speaking time for each speaker will be (2+1) minutes.",
        "Each speaker will have a rebuttal round for 1 minute. The judges, audience, and fellow participant can ask questions during the rebuttal round. There will be marks allotted on the speaker’s responses during the rebuttal round."
    ]) }}
    {{ et.gen_h3("Selection Procedure:") }}
    <p>Students will qualify individually to the finals. If your team member has qualified as well you can continue as a team. In case one member of a team qualifies, they will be paired with other students who have qualified.</p>
    {{ et.gen_h3("Rules for Finals:") }}
    {{ et.gen_ul([
        "Topic will be uploaded on the official Facebook page, and sent to the finalists, ours prior to the given time of commencement of the finals.",
        "Speaking time for each speaker will be (3+1) minutes.",
        "Each speaker will have a rebuttal round for 2 minutes. The judge, audience, and fellow participants can ask questions during the rebuttal round. Marks will be allotted on the speaker’s responses during the rebuttal round.",
        "Speakers will be judged on content, delivery, clarity of expression, and rebuttal.",
        "Speaker prizes will be awarded individually, and not on team basis."
    ]) }}
    <p>NOTE:</p>
    {{ et.gen_ul([
        "Speakers are not allowed to read out from a prepared speech on the podium. Facts and figures may be referred to.",
        "Use of unparliamentary language will lead to disqualification.",
        "The decision of the judges will be FINAL and cannot be challenged by any participant in any case.",
        "The decision of the coordinators regarding all aspects of the event, will be final."
    ]) }}
    {{ et.gen_btn("https://goo.gl/forms/BfDtiJEsUh4r1I632") }}
{% endblock %}
